{{!-- Hero --}}
<div class="wrapper">
    <div class="wrapper__container main-hero">
        <div class="main-hero__cta">
            <div class="main-hero__item">
                <h1 class="typo-display-lg-b">Pide tu merkadito a domicilio</h1>
            </div>
            <div class="main-hero__item">
                <p class="typo-text-lg">La selección más fresca de frutas y verduras hasta la puerta de tu casa.</p>
            </div>
            <div class="main-hero__item">
                    <a href="#" class="button button__primary">
                        <span class="button__body"> ¡Empezar a comprar!</span>
                    </a>
            </div>
        </div>
        <div class="main-hero__images">
            <img draggable="false" src="/img/hero/circleKiwi.png" class="main-hero__fruit main-hero__fruit-1" alt="">
            <img draggable="false" src="/img/hero/circleMandarina.png" class="main-hero__fruit main-hero__fruit-2"
                alt="">
            <img draggable="false" src="/img/hero/circleOrange.png" class="main-hero__fruit main-hero__fruit-3" alt="">
            <img draggable="false" src="/img/hero/circlePeach3.png" class="main-hero__fruit main-hero__fruit-4" alt="">
            <img draggable="false" src="/img/hero/circleToronja.png" class="main-hero__fruit main-hero__fruit-5" alt="">
        </div>
    </div>
</div>

<div class="wrapper">
    <div class="wrapper__container">
        <div style="height: 800px; background:transparent;">
        </div>
    </div>
</div>