@charset "UTF-8";

/*
    Comentarios de desarrollo:
    Mike Guijarro - miercoles 14 oct, 2020.

    Para la siguiente guia de estilo se considera una combinacion
    de BEM superficial (aun no conozco su implementacion en profundidad)
    por lo cual se podrian tener errores de convencion de nombres, sin 
    embargo se rescata su metologia de la mejor forma posible.

    Haciendo una excepcion tomaremos la metodologia de atomic design
    exclusivamente para los textos, agregandolo directamente como una clase extra.
    
    Notas futuras:
    Aprender sass...
*/

/*
    Colors
*/

:root {
    --title-active: #14142b;
    --body: #4e4b66;
    --label: #6e7191;
    --placeholder: #a0a3bd;
    --line: #d6d8e7;
    --input-background: #eff0f6;
    --background: #f7f7fc;
    --off-white: #d6d8e7;

    --primary-default: #8ac926;
    --primary-light: #ceff80;
    --primary-dark: #4c7b00;

    --secundary-default: #1b7a98;
    --secundary-light: #afdbe9;
    --secundary-dark: #00465d;

    --error-default: #de562f;
    --error-light: #ffc8b8;
    --error-dark: #a72500;

    --success-default: #00ba88;
    --success-light: #c2fded;
    --success-dark: #00966d;

    --warning-default: #f4b740;
    --warning-light: #fff0d4;
    --warning-dark: #a26b00;

    --orange: #fcb032;
    --yellow: #ffda62;
    /*
        Pendiente de agregar los gradientes
    */
}

/*
        Restart animation flickering
*/

.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

/*
    Typography
    -Display

    Notas: No se esta considerando el line-height,
    se usara el default
*/

.typo-display-lg {
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    color: var(--title-active);
}

.typo-display-md {
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: var(--title-active);
}

.typo-display-sm {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: var(--title-active);
}

.typo-display-lg-b {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    color: var(--title-active);
}

.typo-display-md-b {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    color: var(--title-active);
}

.typo-display-sm-b {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: var(--title-active);
}

/*
    Typography
    -Text
*/

.typo-text-lg {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: var(--body);
}

.typo-text-md {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: var(--body);
}

.typo-text-sm {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: var(--body);
}

.typo-text-xs {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    color: var(--body);
}

.typo-link-lg {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: var(--title-active);
}

.typo-link-md {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: var(--title-active);
}

.typo-link-sm {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: var(--title-active);
}

.typo-link-xs {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    color: var(--title-active);
}

/*
    Buttons
*/

.button {
    display: inline-flex;
    flex-direction: row;
    flex-basis: 0;
    padding: 8px 20px;
    border-radius: 40px;
    text-decoration: none;
    transition: 0.15s background ease-in, 0.15s color ease-in,
        0.15s border ease-in;
}

.button__prepend {
    padding-right: 6px;
    display: flex;
    align-items: center;
    flex-shrink: 1;
}

.button__prepend__icon {
    color: var(--primary-dark);
}

.button__body {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    flex-shrink: 1;
}

.button__append {
    padding-left: 6px;
    flex-shrink: 1;
}

.button__primary {
    background: var(--primary-default);
    color: white;
    border: 2px solid transparent;
}

.button__primary:hover {
    background: var(--primary-dark);
}

.button__secondary {
    background: transparent;
    color: var(--primary-default);
    border: 2px solid var(--primary-default);
}

.button__secondary:hover {
    color: var(--primary-dark);
    border: 2px solid var(--primary-dark);
}

.button__subtle {
    background: transparent;
    color: var(--primary-default);
    border: 2px solid var(--line);
}

.button__subtle:hover {
    color: var(--primary-dark);
}

.button__text {
    background: transparent;
    color: var(--primary-default);
    border: 2px solid transparent;
}

.button__text:hover {
    color: var(--primary-dark);
}

.button__text__p-0 {
    padding: 0;
}

/*
    Icons
*/

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border-radius: 50px;
    border: 0;
    padding: 0;
    outline: 0;
    transition: 0.15s all ease-in, 0.15s color ease-in, 0.15s border ease-in;
}

.icon:active {
    transform: scale(0.95, 0.95);
}

.icon__primary {
    background: var(--primary-default);
    color: white;
}

.icon__primary:hover {
    background: var(--primary-dark);
}

.icon__secundary {
    box-shadow: 0px 0px 0px 2px var(--primary-default);
    color: var(--primary-default);
}

.icon__secundary:hover {
    box-shadow: 0px 0px 0px 2px var(--primary-dark);
    color: var(--primary-dark);
}

.icon__subtle-gray {
    background: var(--input-background);

    color: var(--title-active);
}

.icon__subtle-gray:hover {
    box-shadow: 0px 0px 0px 2px var(--line);
}


/*
    Text Inputs
*/


.input {
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    
}

.input__element {
    background: var(--input-background);
    border-radius: 16px;
    padding: 16px 24px;
    /*Text Small*/
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: var(--title-active);
    outline: none;
    border: none;
    width: 100%;
    max-width: 320px;
    transition: 0.15s all ease-in-out;
}

.input__element__success {
    box-shadow: 0px 0px 0px 2px var(--success-default);
    /* color: var(--success-default); */
    /* background: var(--success-light); */
}

.input__element__error {
    box-shadow: 0px 0px 0px 2px var(--error-default);
    /* color: var(--error-default); */
    /* background: var(--error-light); */
}

.input__element::placeholder {
    color: var(--placeholder);
}

.input__element:focus {
    box-shadow: 0px 0px 0px 2px var(--title-active);
}

.input__label {
    margin-bottom: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    color: var(--label);
}

/*
    Text Area
*/

.text-area {
    background: var(--input-background);
    border-radius: 16px;
    padding: 24px 24px;
    /*Text Small*/
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: var(--title-active);
    outline: none;
    border: none;
    resize: vertical;
    max-height: 300px;
    min-height: 150px;
    width: 100%;
    transition: 0.15s all ease-in-out;
}

.text-area__element__success {
    box-shadow: 0px 0px 0px 2px var(--success-default);
    /* color: var(--success-default); */
    /* background: var(--success-light); */
}

.text-area__element__error {
    box-shadow: 0px 0px 0px 2px var(--error-default);
    /* color: var(--error-default); */
    /* background: var(--error-light); */
}

.text-area::placeholder {
    color: var(--placeholder);
}

.text-area:focus {
    box-shadow: 0px 0px 0px 2px var(--title-active);
}

/*
    Cards
*/

.card {
    border-radius: 16px;
    background: var(--background);
    box-shadow: 0px 32px 64px rgba(17, 17, 17, 0.08);
    padding: 24px;
}



/*
    Elementos 
*/

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0px;
    padding: 0px;
}
body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

textarea,
input,
button,
select {
    font-family: inherit;
    font-size: inherit;
}

/* Change Autocomplete styles in Chrome*/
@-webkit-keyframes autofill {
    to {
        color: #fff;
        background: transparent;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}



h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    color: var(--title-active);
}

p,
a {
    color: var(--body);
}

/*
    Container block
    -Wrappers
*/

.wrapper {
    width: 100%;
    /*Prevents the margin to collapse*/
    float: left;
}

.wrapper__container {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

.wrapper__nav {
    border-bottom: 2px solid transparent;
    position: fixed;
    top: 0;
    z-index: 10;
    transition: 0.15s background ease-in, 0.15s color ease-in, 0.5s border ease,
        0.15s height ease-in-out, 0.15s opacity ease-in-out;
}

.wrapper__nav__show-background {
    background: white;
    border-bottom: 2px solid var(--line);
}

/*
    Navbar
*/

.main-nav {
    height: 96px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main-nav__logo-holder {
}

.main-nav__logo {
    width: 150px;
    height: auto;
}

.main-nav__list {
    display: none;
    list-style-type: none;
}

.main-nav__item {
    margin-left: 48px;
}

.main-nav__item__mobile {
    margin-bottom: 16px;
}

.main-nav__link {
    text-decoration: none;
}

.main-nav__menu {
    display: block;
    border-color: var(--line);
    color: var(--body);
    cursor: pointer;
}

.main-nav__list-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    /*Hack max height sustituye a heigh auto*/
    max-height: 300px;
    transition: 0.15s background ease-in, 0.15s color ease-in, 0.5s border ease,
        0.15s max-height ease-in-out, 0.15s opacity ease-in-out;
}

.main-nav__list-mobile__hidden {
    display: none;
}

.main-nav__list-mobile__visually-hidden {
    max-height: 0px;
    opacity: 0;
}

/* 
    Hero
*/

.main-hero {
    display: block;
    margin-top: 160px;
}

.background-helper {
    position: relative;
    overflow-x: hidden;
}

.background {
    z-index: -2;
    position: absolute;
    width: 100%;
    top: 0;
}

.wrapper__fill {
    background: var(--input-background);
    height: 600px;
}

.wrapper__path {
    fill: var(--input-background);
}

.main-hero__cta {
}

.main-hero__images {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 64px;
}

.main-hero__images-holder {
    overflow: hidden;
}

.main-hero__item {
    margin-bottom: 24px;
}

.main-hero__fruit {
    display: inline;
    transition: 0.15s opacity ease-in;
}

.main-hero__fruit__no-display {
    display: none;
}

.main-hero__fruit__hide {
    opacity: 0;
}

/*
    Info content
*/

.info-content {
    margin-top: 128px;
}

.sub-header__title-item {
    margin-bottom: 24px;
}

.sub-header__title-container {
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.info-content__steps-container {
    display: flex;
    flex-direction: column;
    margin-top: 96px;
    align-items: center;
}

.info-content__image {
    order: 2;
}

.steps__list {
    list-style-type: none;
    max-width: 600px;
}

.steps__item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding-bottom: 48px;
}

.square__block-irregular {
    background: var(--off-white);
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px 50px 20px 50px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

.square__block-irregular__yellow {
    background: var(--yellow);
}

.square__block-irregular__green {
    background: var(--primary-default);
}

.square__block-irregular__orange {
    background: var(--orange);
}

.steps__number {
    margin-right: 32px;
}

.steps__content {
}

.catalogue-content {
    margin-top: 128px;
}

.catalogue-content__catalogue-section {
    margin-top: 96px;
}

.catalogue-content__subtitlee {
    margin-bottom: 48px;
}

.catalogue {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 32px;
}

.catalogue__item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    padding: 24px;
    border-radius: 16px;
    background: var(--background);
    box-shadow: 0px 32px 64px rgba(17, 17, 17, 0.08);
    transition: 0.15s all ease-in, 0.15s color ease-in, 0.15s border ease-in;
}

.catalogue__item:hover {
    box-shadow: 0px 0px 0px 2px var(--line);
}

.catalogue__item-img-holder {
    background: red;
}

.catalogue__item-img {
    width: 100%;
    height: 160px;
    object-fit: scale-down;
}

.catalogue__item-description {
    margin: 16px 0;
    text-align: start;
    width: 100%;
}

.catalogue__item-title {
    margin-bottom: 8px;
    /* Limits the amount of lines o title */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.catalogue__item-icon-holder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/*
    Feedback
*/

.feedback-content {
    margin-top: 128px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sub-header__title-container__left {
    max-width: 600px;
/*     display: flex;
    flex-direction: column;
    align-items: flex-start; */
    text-align: left;
}

.feedback-content__image {
    align-self: center;
}

.main-footer {
    height: 160px;
    background: var(--background);
    border-top: 2px solid var(--line);
    margin-top: 160px;
}

.main-footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.main-footer__socialmedia {
    display: flex;
    flex-direction: column;
}

.main-footer__socialmedia-item1 {
    margin-bottom: 8px;
}

/*
    Admin Page
*/

.admin {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.admin-card {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

/*
    Media Queries
    Mobile first development
*/

/* Mobile Landscape Screen Sizes */

@media only screen and (min-width: 480px) {
    .catalogue {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Desktop screen Sizes */

@media only screen and (min-width: 768px) {
    /*
        Navbar
    */

    .main-nav__menu {
        display: none;
    }

    .main-nav__list {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .main-nav__list-mobile {
        max-height: 0;
        opacity: 0;
    }

    /*
        Header
    */
    .main-hero {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 80vh;
        min-height: 700px;
        margin-top: 100px;
    }

    .main-hero__cta {
        max-width: 500px;
        flex: 5 1 0;
    }

    .main-hero__images {
        display: block;
        flex: 7 1 0;
        height: 100%;
        padding: 0;
    }

    .main-hero__fruit-1 {
        z-index: 1;
        position: absolute;
        bottom: -50px;
        left: -80px;
    }
    .main-hero__fruit-2 {
        z-index: 1;
        position: absolute;
        /* transform: translate(50%, 50%); */
        bottom: 0px;
        right: -50px;
    }

    .main-hero__fruit-3 {
        z-index: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -45%);
    }

    .main-hero__fruit-4 {
        z-index: 1;
        position: absolute;
    }

    .main-hero__fruit-5 {
        z-index: 1;
        position: absolute;
        top: 50px;
        right: -100px;
    }

    /*
        Product Catalogue
    */
    .catalogue {
        grid-template-columns: repeat(3, 1fr);
    }

    /*
        Footer
    */
    .main-footer__socialmedia {
        flex-direction: row;
    }
    
    .main-footer__socialmedia-item1 {
        margin-bottom: 0;
        margin-right: 8px;
    }
}

/* Desktop HD screen Sizes */

@media only screen and (min-width: 1200px) {
    /*
        Typography
        -Display
    */

    .typo-display-lg {
        font-size: 64px;
    }

    .typo-display-md {
        font-size: 48px;
    }

    .typo-display-sm {
        font-size: 32px;
    }

    .typo-display-lg-b {
        font-size: 64px;
    }

    .typo-display-md-b {
        font-size: 48px;
    }

    .typo-display-sm-b {
        font-size: 32px;
    }

    /*
    Typography
    -Text
*/

    .typo-text-lg {
        font-size: 24px;
    }

    .typo-text-md {
        font-size: 18px;
    }

    .typo-text-sm {
        font-size: 16px;
    }

    .typo-text-xs {
        font-size: 14px;
    }

    .typo-link-lg {
        font-size: 24px;
    }

    .typo-link-md {
        font-size: 18px;
    }

    .typo-link-sm {
        font-size: 16px;
    }

    .typo-link-xs {
        font-size: 14px;
    }

    .button__body {
        font-size: 16px;
    }

    /*
        Info Content
    */

    .info-content__steps-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .info-content__image {
        order: 1;
    }
    .info-content__steps {
        order: 2;
    }

    .square__block-irregular {
        height: 96px;
        width: 96px;
    }

    /*
        Product Catalogue
    */
    .catalogue {
        grid-template-columns: repeat(4, 1fr);
    }

    /*
        Feedback
    */

    .feedback-content {
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .feedback-content__form-container {
        flex: 2 1 auto;
    }

    .feedback-content__image {
        flex: 2 1 auto;
        align-self: flex-start;
    }

    .feedback-content__img {
        width: 100%;
        height: auto;
    }
}
