{{#if index}}
<div class="wrapper main-footer">
    <div class="wrapper__container main-footer__container">
        <p>© Merkadito 2020. Todos los derechos reservados.</p>
        <div>
            <div class="main-footer__socialmedia">
                <a href="#" class="button button__subtle main-footer__socialmedia-item1"><i
                        class='bx bxl-facebook bx-sm'></i></a>
                <a href="#" class="button button__subtle"><i class='bx bxl-instagram bx-sm'></i></a>
            </div>
        </div>
    </div>
</div>
{{/if}}