<div class="wrapper wrapper__nav">
    <div class="wrapper__container ">
        <nav class="main-nav">
            <div class="main-nav__logo-holder">
                <a href="#">
                    <img draggable="false" src="/img/logo.svg" alt="" class="main-nav__logo">
                </a>
            </div>

            <i class='bx bx-menu bx-sm main-nav__menu'></i>

            <ul class="main-nav__list">
                {{!-- <li class="main-nav__item">
                    <a href="#" class="button button__primary">
                        <span class="button__prepend">
                            🚀
                        </span>
                <span class="button__body">My Button</span>
                <span class="button__append">
                    👨‍🚀
                </span>
                </a>
                --}}
                <li class="main-nav__item">
                    <a href="#hero" class="button button__text">
                        <span class="button__body">Inicio</span>
                    </a>
                </li>
                <li class="main-nav__item">
                    <a href="#info" class="button button__text">
                        <span class="button__body">Conocenos</span>
                    </a>
                </li>
                <li class="main-nav__item">
                    <a href="#catalogue" class="button button__secondary">
                        <span class="button__body">Cátalogo</span>
                    </a>
                </li>
            </ul>
        </nav>
        <ul class="main-nav__list-mobile main-nav__list-mobile__no-display">
            <li class="main-nav__item__mobile">
                <a href="#hero" class="button button__text">
                    <span class="button__prepend button__prepend__icon">

                        <i class='bx bx-store bx-sm'></i>
                    </span>
                    <span class="button__body">Inicio</span>
                </a>
            </li>
            <li class="main-nav__item__mobile">
                <a href="#info" class="button button__text">
                    <span class="button__prepend button__prepend__icon">
                        <i class='bx bx-message-square-check bx-sm'></i>
                    </span>
                    <span class="button__body">Conocenos</span>
                </a>
            </li>
            <li class="main-nav__item__mobile">
                <a href="#catalogue" class="button button__text">
                    <span class="button__prepend button__prepend__icon">
                        <i class='bx bx-cart-alt bx-sm'></i>
                    </span>
                    <span class="button__body">Cátalogo</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="background">
    <div class="wrapper__fill"></div>
    <svg class="wrapper__path" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill-opacity="1"
            d="M0,32L60,37.3C120,43,240,53,360,80C480,107,600,149,720,170.7C840,192,960,192,1080,165.3C1200,139,1320,85,1380,58.7L1440,32L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z">
        </path>
    </svg>
</div>