<div class="wrapper wrapper__nav">
    <div class="wrapper__container ">
        <nav class="main-nav">
            <div class="main-nav__logo-holder">
                <a href="/">
                    <img draggable="false" src="/img/logo.svg" alt="" class="main-nav__logo">
                </a>
            </div>
            {{#if index}}
            <i class='bx bx-menu bx-sm main-nav__menu'></i>

            <ul class="main-nav__list">
                {{!-- <li class="main-nav__item">
                    <a href="#" class="button button__primary">
                        <span class="button__prepend">
                            🚀
                        </span>
                <span class="button__body">My Button</span>
                <span class="button__append">
                    👨‍🚀
                </span>
                </a>
                --}}
                <li class="main-nav__item">
                    <a href="#hero" class="button button__text">
                        <span class="button__body">Inicio</span>
                    </a>
                </li>
                <li class="main-nav__item">
                    <a href="#info" class="button button__text">
                        <span class="button__body">Conocenos</span>
                    </a>
                </li>
                <li class="main-nav__item">
                    <a href="#catalogue" class="button button__secondary">
                        <span class="button__body">Cátalogo</span>
                    </a>
                </li>
            </ul>
            {{/if}}
        </nav>
        {{!-- Mobile nav --}}
        {{#if index}}
        <ul class="main-nav__list-mobile main-nav__list-mobile__visually-hidden main-nav__list-mobile__hidden">
            <li class="main-nav__item__mobile">
                <a href="#hero" class="button button__text">
                    <span class="button__prepend button__prepend__icon">

                        <i class='bx bx-store bx-sm'></i>
                    </span>
                    <span class="button__body">Inicio</span>
                </a>
            </li>
            <li class="main-nav__item__mobile">
                <a href="#info" class="button button__text">
                    <span class="button__prepend button__prepend__icon">
                        <i class='bx bx-message-square-check bx-sm'></i>
                    </span>
                    <span class="button__body">Conocenos</span>
                </a>
            </li>
            <li class="main-nav__item__mobile">
                <a href="#catalogue" class="button button__text">
                    <span class="button__prepend button__prepend__icon">
                        <i class='bx bx-cart-alt bx-sm'></i>
                    </span>
                    <span class="button__body">Cátalogo</span>
                </a>
            </li>
        </ul>
        {{/if}}
    </div>
</div>