<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, shrink-to-fit=no">
    <title>Merkadito</title>



    {{!--Box Icons--}}
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    {{!--Google fonts--}}
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    {{!--Styles--}}
    <link rel="stylesheet" href="/css/styles.css">


</head>

<body>
    <div class="preload background-helper">
        {{> navigation }}
        {{{body}}}
    </div>


    {{!-- Scripts --}}
    <script defer src="/scripts/main.js"></script>
</body>

</html>